/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  transition: background-color 0.3s;
}
.navbar.background {
  background-color: white !important;
}
/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
.carousel-caption {
  display: none;
}
}
@media (max-width: 767px) {
  .navbar-fixed-top {
    position: relative;
  }
  div.nav-background {
    background-color: #fff;
  }
}
div.item.active > img {
  overflow: hidden;
}
div.item.active {
  margin-bottom: -2%;
}
nav.navbar {
  background-color: transparent !important;
  border-color: transparent !important;
}
.navbar-nav > .active > a {
  background-color: transparent !important;
  color: black !important;
}

nav.navbar.navbar-inverse {
  margin-bottom: -2px;
  margin-top: -2px;
}

.carousel-caption {
  padding-bottom: 9%;
  display: block !important;
}

div.carousel-caption > h1 {
  font-size: 60px;
}

div.carousel-caption > i {
  font-size: 19px;
}

nav.navbar > div.container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

nav.navbar {
  padding: 0.5rem 1rem;
}

.align-left {
  text-align: left;
}
html {
  scroll-behavior: smooth;
}
div.attraction-image > img {
  height: auto;
  cursor: pointer;
  transition: filter 0.5s;
}
div.attraction-image:hover > img {
  filter: brightness(130%);
}
img {
  width: 100%;
}
.attraction-caption {
  background-color: white;
  padding: 20px;
}
 body {
   background-color: #f8f9fa;
 }
.attraction-caption > p {
  text-align: center !important;
}
.italic {
  font-style: italic;
}
div.attraction-expandable {
  display: none;
}
