/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
.carousel-caption {
  display: none;
}
}
@media (max-width: 767px) {
  .navbar-fixed-top {
    position: relative;
  }
  div.nav-background {
    background-color: #a0cef6;
  }
}
div.item.active > img {
  overflow: hidden;
}
div.item.active {
  margin-bottom: -2%;
}
nav.navbar {
  background-color: transparent !important;
  border-color: transparent !important;
}
.navbar-nav > .active > a {
  background-color: transparent !important;
  color: black !important;
}

nav.navbar.navbar-inverse {
  margin-bottom: -2px;
  margin-top: -2px;
}

.carousel-caption {
  padding-bottom: 9%;
  display: block !important;
}

div.carousel-caption > h1 {
  font-size: 60px;
}

div.carousel-caption > i {
  font-size: 19px;
}

nav.navbar > div.container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

nav.navbar {
  padding: 0.5rem 1rem;
}

.align-left {
  text-align: left;
}
